body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
}

p{
    text-align: center;
    margin: auto;
    padding: 20px;
    ;
}

header {
    background-color: #002855;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin: 0;
    font-size: 20px;
}
h1 {
    margin: 0;
    font-size: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

section {
    background-color: #ffffff;
    padding: 40px 0;
    margin:40px;
}

section h2 {
    color: #002855;
    text-align: center;
    font-size: 35px;
    font-family: "DM Serif Display";
}

footer {
    background-color: #002855;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
button {
    background-color: #002855;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    margin: 20px;
}

.grid-item {
    border: 1px solid #002855; 
    padding: 20px;
    text-align: center;
    font-size: 24px;
}
.grid-itemFoto {

    width: 300px; 
    height: 200px; 
}

.verkleinde-afbeelding {
    max-height: 200px;
    height: auto;
}
.verkleinde-afbeelding-Rakker {
    max-width: 800px; 
    max-height: 200px; 
    width: auto;
    height: auto;
    text-align: center;
}

.hobby-table {
    width: 800px;
    border-collapse: collapse;
}

.hobby-table td {
    border: 1px solid #ccc;
    padding: 10px;
}
.hobby-table-rakker{
    border: 1px solid #ccc;
    padding: 10px;
    transform: rotate(180deg);
    width: auto;
}
.hobby-table img {
    max-width: 100px;
    max-height: 100px;
}

.cv-item, We-item {
    display: flex;
    margin-bottom: 20px;
}

.year {
    min-width: 200px;
    padding: 10px;
    background-color: #002855;
    color: #fff;
    text-align: center;
}

.content {
    padding: 10px;
    border: 1px solid #002855;
    flex-grow: 1;
}

#extra {
    margin: 40px 0;
}

#extra h2 {
    font-size: 24px;
    color: #002855;
}

#extra .cv-item {
    display: flex;
    margin-bottom: 20px;
}

#extra .year {
    width: 200px;
    padding: 10px;
    background-color: #002855;
    color: #fff;
    text-align: center;
}

#extra .content {
    padding: 10px;
    border: 1px solid #002855;
    flex-grow: 1;
}

.FotoBegin{
    padding: 20px;
    margin: auto;
    width: 75%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
}
.FotoCentrerenBegin
{
    text-align: center;
}

.Big_Tekst
{
}